# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.so

# Environment variables
.env

# Node
node_modules/
npm-debug.log

